@import 'normalize.css';

$orange: #C85001;

body {
    background-color: #ECE6E6;
}

a {
    outline: none;
}

p {
    font-weight: 100;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 16px;
}

.logo {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;

    a {
        color: $orange;
        background-color: transparent;
    }
}

.main__content {
    font-family: 'Overpass', sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #2C3E50;
    padding: 48px 0 24px;

    h1 {
        font-size: 1.5em;
        font-weight: 800;
        margin-bottom: 24px;

        .heading-color {
            color: $orange;
        }
    }

    p {
        font-size: 0.875em;
    }

    @media (min-width: 760px) {
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.25em;
        }
    }

    h2 {
        color: $orange;
        margin-top: 100px;
    }
}

.main__contact {
    a {
        padding: 8px;
        color: #2C3E50;

        &:hover {
            color: $orange;
        }

        &:focus {
            border: 2px solid;
        }
    }
    span {
        font-size: 2em;
    }
    .stack {
        color: #F27421;
    }
    .github {
        color: #212529;
    }
    .linkedin {
        color: #006CAC;
    }
    .email {
        color: #C0392B;
    }
}